<!DOCTYPE html>
<html>
  <!-- HEAD -->
  {% include "templates/head.njk" %}

  <body>
    <div class="container pb-4">
      <h1 class="my-4">Listado de Usuarios</h1>
      <div class="row">
        <div class="col-md-5">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Avatar</th>
              <th>Acciones</th>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.email }}</td>
                <td><img src="https://eemlqvkorfcljgmacfiq.supabase.co/storage/v1/object/public/clase10/{{ user.avatar }}" class="avatar"/></td>
                <td>
                  <a
                    href="/usuarios/modificar?id={{ user.id }}"
                    class="btn btn-sm btn-warning mod"
                  >
                    Editar
                  </a>
                  <a
                    href="/usuarios/eliminar?id={{ user.id }}"
                    class="btn btn-sm btn-danger"
                  >
                    Eliminar
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <a href="/" class="btn btn-primary">Ir a la página de Inicio</a>
        </div>
        <div class="col-md-4">
          <a href="/usuarios/crear" class="btn btn-success">Crear Usuario</a>
        </div>
      </div>
    </div>
  </body>
</html>
